# Ignore node_modules and environment files in any directory
node_modules/
venv/
.env

# Ignore build and cache directories
dist/
build/
__pycache__/

# Logs
logs
*.log

# Ignore system files
.DS_Store
Thumbs.db
