# Logs
logs
*.log

# Dependency directories
node_modules/
venv/
.env

# Python
__pycache__/
*.py[cod]
*.egg-info/


#testing if finally my pushes work#
#testing if finally my pushes work2#